.header{
    height: 5rem;
    background-color: black;
    color: white;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-left: 5rem;
    padding-right: 5rem;
}
.left{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.hd-bt{
    font-size: 1.6rem;
    border: none;
    background-color: transparent;
}